# vs
.vs/
[Aa]pp_[Dd]ata/
[Bb]in/
[D]ebug/
[Oo]bj/
[Tt]est[Rr]esults/
[Tt]emp/
*.user
*.vspscc
*.vssscc
*.suo
*.cache
project.lock.json
packages/

# deploy
[Aa]rtifacts/
[Tt]ools/**
![Tt]ools/packages.config

# misc
*~
*.swp
*.sdf
*.orig
*.pfx

# resharper
_ReSharper.*
*.resharper*
*.[Rr]e[Ss]harper.user
*.DotSettings.user

#windows stuff
Thumbs.db
