#v0.1.0
# Dev stuff
[Aa]pp_[Dd]ata/
[Bb]uilds/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Tt]est[Rr]esult/
[Tt]emp/
*.vspscc
*.vssscc
*.suo
*.cache
*.csproj.user
*~
_ReSharper.*
*.resharper*
*.[Rr]e[Ss]harper.user
*.swp

#windows stuff
Thumbs.db